@import 'src/styles/_colors';

.wrapper {
  align-items: center;
  background: $granny-apple;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  min-height: 2.5rem;
  outline: none;
  padding: 1em;
  width: 100%;
}
