@import 'src/styles/_colors';

.wrapper {
  align-items: center;
  background: $white;
  border-radius: 4px;
  border: 2px solid $usafa-blue;
  color: $usafa-blue;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  min-height: 2.2rem;
  outline: none;
  padding: .25rem;
  width: 100%;

  &:hover {
    background: $usafa-blue;
    color: $white;
  }
}
