@import 'src/styles/_colors';
@import 'src/styles/_variables';

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  font-size: .9rem;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.input {
  font-family: $font-family;
  border: 0;
  border-bottom: 1px solid $bombay;
  box-sizing: border-box;
  font-size: .75rem;
  min-height: 10rem;
  outline: none;
  padding: .25rem;
  resize: none;
  width: 100%;

  &:focus {
    border-color: $usafa-blue;
  }

  &--error {
    border-color: $red-ryb;
  }
}

.error {
  color: $red-ryb;
  font-size: .65rem;
}
