$white: #fff;
$black: #000;

$bombay: #B1B2B3;
$isabelline: #F9F7F3;
$platinum: #ebebeb;

$dark-liver: #595358;
$orange-yellow-crayola: #FFD166;
$usafa-blue: #26547C;
$buff: #EFD780;
$red-ryb: #FF1B1C;
