@import 'src/styles/_colors';

.wrapper {
  align-items: center;
  border-bottom: 2px solid $isabelline;
  color: $black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem 1rem;
  text-decoration: none;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: .9rem;

  &:first-letter {
    text-transform: uppercase;
  }
}

.author {
  font-size: .7rem;
  margin-top: .5rem;
}

.stars {
  display: flex;
  align-items: center;
}
