@import 'src/styles/_colors';

.wrapper {
  align-items: center;
  border-bottom: 2px solid $isabelline;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem;
  width: 100%;
}

.link {
  color: $black;
  flex-grow: 1;
  text-decoration: none;
}

.title {
  font-weight: 600;
  font-size: .9rem;

  &:first-letter {
    text-transform: uppercase;
  }
}

.author {
  font-size: .7rem;
  margin-top: .5rem;
}

.stars {
  align-items: center;
  display: flex;
  margin-bottom: .25rem;
}

.actions {
  align-items: center;
  display: flex;
}

.edit,
.delete {
  cursor: pointer;
  display: block;
  height: .8rem;
  width: .8rem;
}

.edit {
  margin-right: 1rem;

  svg {
    path {
      fill: $buff;
    }
  }
}

.delete {
  svg {
    path {
      fill: $red-ryb;
    }
  }
}
