@import 'src/styles/_colors';

.wrapper {
  align-items: center;
  border-bottom: 2px solid $isabelline;
  color: $black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem 1rem;
  text-decoration: none;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: .9rem;

  &:first-letter {
    text-transform: uppercase;
  }
}

.author {
  font-size: .7rem;
  margin-top: .5rem;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  background: $orange-yellow-crayola;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  height: .75rem;
  width: .75rem;
}
